<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel ="tests">
  <test name="Testforchrome">
  	<parameter name="url" value="https://login.yahoo.com/"></parameter>
  	<parameter name="emailId" value="manishku.1987@yahoo.co.in"></parameter>
  	<parameter name="browser" value="chrome"></parameter>
    <classes>
      <class name="com.testngexamples.ParameterTest"/>
    </classes>
  </test>
  <test name="Testforfirefox">
  	<parameter name="url" value="https://login.yahoo.com/"></parameter>
  	<parameter name="emailId" value="manishku.1987@yahoo.co.in"></parameter>
  	<parameter name="browser" value="firefox"></parameter>
    <classes>
      <class name="com.testngexamples.ParameterTest"/>
    </classes>
  </test>
 </suite> 
